<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <span><%= unfriended_users(@user) %></span>
  <h3>Mutual Friends:</h3>
  <ul>
    <% @mutual_friends.each do |mutual|%>
        <li><%= mutual.name %></li>
    <% end %>
  </ul>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
